
html {
	overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}
body {

	font-family: 'Oxygen', sans-serif;
}
.container {
	max-width: 960px;
	background: white;
}
.content {
	z-index: 0; 
	margin-bottom: 100px;
	margin-top: 50px;
}

.banner.small .bg1 { background: url(../img/banners/1-small.png); }
.banner.small .bg2 { background: url(../img/banners/2-small.png); }
.banner.small .bg3 { background: url(../img/banners/3-small.png); }
.banner.small .bg4 { background: url(../img/banners/4-small.png); }
.banner.small .bg5 { background: url(../img/banners/5-small.png); }
.banner.small .bg6 { background: url(../img/banners/6-small.png); }

.banner.big .bg1 { background: url(../img/banners/1-big.png); }
.banner.big .bg2 { background: url(../img/banners/2-big.png); }
.banner.big .bg3 { background: url(../img/banners/3-big.png); }
.banner.big .bg4 { background: url(../img/banners/4-big.png); }
.banner.big .bg5 { background: url(../img/banners/5-big.png); }
.banner.big .bg6 { background: url(../img/banners/6-big.png); }


.clearfix { clear: both; }


.logo h1 {
	display: none;
}

.logo {
	background: url(../img/logo-header.png) no-repeat;
	width: 279px;
	height: 127px;
	display: block; 
	margin-top: 5px;
}

.header {
	height: 127px;
}

.shortcuts {
	margin-top: 40px;
}
.shortcuts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.shortcuts ul li {
	display: inline-block;
	margin-left: 10px;
}

.shortcuts ul li a {
	display: block;
	width: 62px;
	height: 61px;
	background: url(../img/ico-shortcuts.png) no-repeat;
}

.shortcuts ul li a.love {
	background-position: 0 0;
}
.shortcuts ul li a.love:hover {
	background-position: 0 -61px;
}
.shortcuts ul li a.guestbook {
	background-position: -62px 0;
}
.shortcuts ul li a.guestbook:hover {
	background-position: -62px -61px;
}
.shortcuts ul li a.rsvp {
	background-position: -124px 0;
}
.shortcuts ul li a.rsvp:hover {
	background-position: -124px -61px;
}
.menu {
	margin-top: 10px;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
	margin-left: 20px;
}
.menu a { 
 	font-size: 16px;
 	display: block;
 	color: #1DA1A6;
 	text-decoration: none;
}
.menu a:hover {
 	color: #17C0BD;
}
.menu a.active {
	border-bottom: 2px solid #1DA1A6;
}

.banner {
	display:block;
	width: 100%;
	/*height: 400px;*/
	background: none;
	margin-top: 10px;
	position:relative;
	overflow: visible !important;
}

.banner.big {
	/*height: 400px;*/
}
.banner.small {
	/*height: 200px;*/
}

.banner.bg1 {
	color: white;
}
.carousel {
	z-index: 1;
}
.sticker {
	display: block;
	height: 177px;
	width: 177px;
	background: url(../img/logo-sticker.png) no-repeat;
	position:absolute;
	bottom:-87px;
	left: 70px;
	z-index: 2;
}

.carousel.fade
{
    opacity: 1;
}

.carousel.fade .item
{     
    -moz-transition: opacity ease-in-out 1.9s;
    -o-transition: opacity ease-in-out 1.9s;
    -webkit-transition: opacity ease-in-out 1.9s;
    transition: opacity ease-in-out 1.9s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}


.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}

.carousel.fade .item.active
{
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

.carousel-indicators {
	bottom: 0;
} 

.footer {
	position: fixed;
	bottom: 0;
	background: #1ABFBD;
	width: 960px;
	height: 3px;
	margin: 0 auto;
	color: white;
	padding: 3px;
	font-size: 10px;
	z-index:1000;
}

.banner .item { background-repeat: no-repeat !important; }

.modal-content {
	border-radius: 0;
}

.icon-bar {
	background: white;
}
.navbar-brand {
	color: #13BFBC;
	font-family: 'Shadows Into Light Two',cursive;
	font-size: 31px;
}
.navbar-brand:hover {
	color: #9FF1EF;
}
.navbar-brand span {
	color: #D7F3F4;
	margin-left: 3px;
	margin-right: 3px;
}
.navbar-toggle { 
	background: #13BFBC;
	border-radius: 0;
	margin: 0;
	padding: 17px 13px;
}
.navbar-collapse {
	background: #13BFBC;
}
.navbar-collapse li a {
	color: white;
}
.navbar-collapse li a:hover {
	background: white;
	color: #13BFBC;
}

.header-days-left {
	color: #13BFBC;
	font-weight: bold;
}
.rightext {
	margin-right: 10px;
}

h2 {
	font-family: 'Shadows Into Light Two',cursive;
	color: #75715d;
}

.btn-primary, .btn-primary:focus {
	background-color: #13BFBC;
	border:1px solid #13BFBC;
}
.btn-primary:hover {
	background: #9FF1EF;
	border:1px solid #9FF1EF; 
}

.passwd {
	border-radius: 0;
	-webkit-transition: none;
	transition: none;
}
.passwd:focus { 
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #13BFBC;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #13BFBC;
	border:1px solid #13BFBC;
}

h3 {
	font-family: 'Shadows Into Light Two',cursive;
	color: #75715d;
	font-size: 19px;
}

.main-container {
	background: transparent;
}

.rsvp h3.title {
	color: #13BFBC;
	font-size: 30px;
} 

.rsvp h4 {
	font-size: 14px;
	color: #13BFBC;
	opacity: 0.5;
}

.rsvp h4 .date {
	font-weight: bold;
	text-decoration: underline;
}

.rsvp .btn-rsvp {
	opacity: 0.3;
}
.rsvp .btn-rsvp:hover, .rsvp .btn-rsvp:focus, .rsvp .btn-rsvp.active {
	opacity: 1;
}
.rsvp input[type=text], .rsvp input[type=email], .rsvp input[type=number] {
	border-radius: 0;
	-webkit-transition: none;
	transition: none;
}
.rsvp input[type=text]:focus,.rsvp input[type=email]:focus,.rsvp input[type=number]:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #13BFBC;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #13BFBC;
	border:1px solid #13BFBC;
}

body {
	/*background: url(../img/dot.png) 0% 0% repeat local transparent;*/
}

.rsvp-answer {
	margin-top: 50px;
}