
html {
	overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}
body {

	font-family: 'Oxygen', sans-serif;
}
.container {
	max-width: 960px;
	background: white;
}
.content {
	z-index: 0; 
	margin-bottom: 100px;
	margin-top: 50px;
}

/* .banner.small .carousel.fade .item { height: 200px;} */
.banner.small .bg1 { background: url(../img/banners/1-small.png); }
.banner.small .bg2 { background: url(../img/banners/2-small.png); }
.banner.small .bg3 { background: url(../img/banners/3-small.png); }
.banner.small .bg4 { background: url(../img/banners/4-small.png); }
.banner.small .bg5 { background: url(../img/banners/5-small.png); }

/* .banner.big .carousel.fade .item { height: 400px;} */
.banner.big .bg1 { background: url(../img/banners/1-big.png); }
.banner.big .bg2 { background: url(../img/banners/2-big.png); }
.banner.big .bg3 { background: url(../img/banners/3-big.png); }
.banner.big .bg4 { background: url(../img/banners/4-big.png); }
.banner.big .bg5 { background: url(../img/banners/5-big.png); }


.clearfix { clear: both; }
.countdown {
	text-align: right;	
	font-family: 'Calligraffitti', cursive;
	font-size: 25px;
	position:absolute;
	bottom: 10px;
	right: 20px;
	z-index:100;
	color: white;

} 

.logo h1 {
	display: none;
}

.logo {
	background: url(../img/logo-header.png) no-repeat;
	width: 279px;
	height: 127px;
	display: block; 
	margin-top: 5px;
}

.header {
	height: 127px;
}

.shortcuts {
	margin-top: 40px;
}
.shortcuts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.shortcuts ul li {
	display: inline-block;
	margin-left: 10px;
}

.shortcuts ul li a {
	display: block;
	width: 62px;
	height: 61px;
	background: url(../img/ico-shortcuts.png) no-repeat;
}

.shortcuts ul li a.love {
	background-position: 0 0;
}
.shortcuts ul li a.love:hover {
	background-position: 0 -61px;
}
.shortcuts ul li a.guestbook {
	background-position: -62px 0;
}
.shortcuts ul li a.guestbook:hover {
	background-position: -62px -61px;
}
.shortcuts ul li a.rsvp {
	background-position: -124px 0;
}
.shortcuts ul li a.rsvp:hover {
	background-position: -124px -61px;
}
.menu {
	margin-top: 10px;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
	margin-left: 20px;
}
.menu a { 
 	font-size: 16px;
 	display: block;
 	color: #1DA1A6;
 	text-decoration: none;
}
.menu a:hover {
 	color: #17C0BD;
}
.menu a.active {
	border-bottom: 2px solid #1DA1A6;
}

.banner {
	display:block;
	width: 100%;
	/*height: 400px;*/
	background: none;
	margin-top: 10px;
	position:relative;
	overflow: visible !important;
}

.banner.big {
	/*height: 400px;*/
}
.banner.small {
	/*height: 200px;*/
}

.banner.bg1 {
	color: white;
}
.carousel {
	z-index: 1;
}
.sticker {
	display: block;
	height: 177px;
	width: 177px;
	background: url(../img/logo-sticker.png) no-repeat;
	position:absolute;
	bottom:-87px;
	left: 70px;
	z-index: 2;
}

.carousel.fade
{
    opacity: 1;
}

.carousel.fade .item
{     
    -moz-transition: opacity ease-in-out 1.9s;
    -o-transition: opacity ease-in-out 1.9s;
    -webkit-transition: opacity ease-in-out 1.9s;
    transition: opacity ease-in-out 1.9s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}


.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}

.carousel.fade .item.active
{
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

.carousel-indicators {
	bottom: 0;
} 

.footer {
	position: fixed;
	bottom: 0;
	background: #1ABFBD;
	width: 960px;
	height: 3px;
	margin: 0 auto;
	color: white;
	padding: 3px;
	font-size: 10px;
	z-index:1000;
}

.banner .item { background-repeat: no-repeat !important; }


.story {

}

.story h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	margin: 0;
}

.story .separator {
	background:url(../img/bg-separator.png);
	width: 225px;
	height: 23px;
	display: block;
	margin: 0 auto;
}

.story .text {
	width: 90%; 
	margin: 10px auto;
	text-align: justify; 
	text-justify: newspaper;
}

.contact { 
	padding-top: 20px;
}
.contact .block {
	width: 90%;
	margin: 0 auto;
}
.contact .title {
	background: #0B7270;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 16px;
}

.contact .text {
	background: #D6D4BF;
	padding: 15px;
	margin-top: 2px;
	min-height: 200px;
}
.contact .icon {
	display: block;
	margin: 0 auto;
	width: 73px;
	height: 72px;
	background: url(../img/ico-contact.png) no-repeat;
}
.contact .icon.correo {  background-position: 0 0; }
.contact .icon.mesa { background-position: -73px 0; }
.contact .icon.viaje { background-position: -146px 0; width: 75px;}
.contact .message {
	margin-top: 20px;
}

.events { padding: 20px; text-align: center;}
.slogan {
	font-size: 40px;
	color: #CBCBCB;
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.ribbon-header, .ribbon-footer{
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}
.ribbon-header {
	margin-bottom: 10px;
	font-size: 18px;
	color: #727377;
}
.ribbon-footer {
	color: #F7A79C;
	font-size: 23px;
	margin-top: 7px;
}
/* ribbon style */  
.ribbon-front {
	color: white;
	text-transform: uppercase;
	font-size: 70px;
	font-family: 'Pompiere', cursive;
}

.events .time {
	font-family: 'Pompiere',cursive;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 5px;
	color: #ACACAE;
}

.events .time .line {
	display: inline-block;
	background: #F7A79C;
	margin-top: 15px;
	width: 34px;
	height: 2px;
	position: relative;
	top: -10px;
	margin-left: 10px;
	margin-right: 10px;
}

.events .invite {
	color: #F9A392;
	font-family: 'Yellowtail', cursive;
	font-size: 25px;
	margin-top: 10px;
}
/* ribbon style */

.ribbon-container .ribbon.ribbon-wrapper {
	position: relative;
}
.ribbon-container .ribbon .ribbon-front {
	background-color: #FBCEC9;	height: 95px;
	width: 364px;
	position: relative;
	left:-32px;
	z-index: 2;
}

.ribbon-container .ribbon .ribbon-front,
.ribbon-container .ribbon .ribbon-back-left,
.ribbon-container .ribbon .ribbon-back-right
{
	/*-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);*/
}

.ribbon-container .ribbon .ribbon-edge-topleft,
.ribbon-container .ribbon .ribbon-edge-topright,
.ribbon-container .ribbon .ribbon-edge-bottomleft,
.ribbon-container .ribbon .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

.ribbon-container .ribbon .ribbon-edge-topleft,
.ribbon-container .ribbon .ribbon-edge-topright {
}

.ribbon-container .ribbon .ribbon-edge-bottomleft,
.ribbon-container .ribbon .ribbon-edge-bottomright {
	top: 95px;
}

.ribbon-container .ribbon .ribbon-edge-topleft,
.ribbon-container .ribbon .ribbon-edge-bottomleft {
	left: -32px;
	border-color: transparent #F7A79C transparent transparent;
}

.ribbon-container .ribbon .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 32px 0 0;
}
.ribbon-container .ribbon .ribbon-edge-bottomleft {
	border-width: 0 32px 30px 0;
}

.ribbon-container .ribbon .ribbon-edge-topright,
.ribbon-container .ribbon .ribbon-edge-bottomright {
	left: 300px;
	border-color: transparent transparent transparent #F7A79C;
}

.ribbon-container .ribbon .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 32px;
}
.ribbon-container .ribbon .ribbon-edge-bottomright {
	border-width: 0 0 30px 32px;
}

.ribbon-container .ribbon .ribbon-back-left {
	position: absolute;
	top: 30px;
	left: -85px;
	width: 85px;
	height: 95px;
	background-color: #F8C6BD;	z-index: 0;
}

.ribbon-container .ribbon .ribbon-back-right {
	position: absolute;
	top: 30px;
	right: -85px;
	width: 85px;
	height: 95px;
	background-color: #F8C6BD;	
	z-index: 0;
}
.ribbon-container .ribbon .ribbon-back-right {
	border-style: solid;
	border-color: #F8C6BD transparent;
	border-width: 48px 24px 48px 0;
	background: transparent !important;
}
.ribbon-container .ribbon .ribbon-back-left {
	border-style: solid;
	border-color: #F8C6BD transparent;
	border-width: 48px 0 48px 24px;
	background: transparent !important;
}

.place {
	position: relative;
	margin: 10px auto;
	display: inline-block;
}
.place-contents {
	display: inline-block;
	background: #F8C6BD;
	color: white;
	text-transform: uppercase;
	padding: 4px;
	float:left;
}
a.place-contents:hover {
	text-decoration: none;
	color: white;
}
.place-left {
	display: inline-block;
	width: 24px;
	height: 23px;
	border-style: solid;
	border-color: #F8C6BD transparent;
	border-width: 14px 0 14px 10px;
	background: transparent !important;
	float:left;
}
.place-right {
	display: inline-block;
	width: 24px;
	height: 23px;
	border-style: solid;
	border-color: #F8C6BD transparent;
	border-width: 14px 10px 14px 0px;
	background: transparent !important;
	float:left;
}

 /*
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #f8c6bb;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #f6a999 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   } 
  */
