
html {
	overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}
body {

	font-family: 'Oxygen', sans-serif;
}
.container {
	max-width: 960px;
	background: white;
}
.content {
	z-index: 0; 
	margin-bottom: 100px;
	margin-top: 50px;
}

/* .banner.small .carousel.fade .item { height: 200px;} */
.banner.small .bg1 { background: url(../img/banners/1-small.png); }
.banner.small .bg2 { background: url(../img/banners/2-small.png); }
.banner.small .bg3 { background: url(../img/banners/3-small.png); }
.banner.small .bg4 { background: url(../img/banners/4-small.png); }
.banner.small .bg5 { background: url(../img/banners/5-small.png); }
.banner.small .bg6 { background: url(../img/banners/6-small.png); }

/* .banner.big .carousel.fade .item { height: 400px;} */
.banner.big .bg1 { background: url(../img/banners/1-big.png); }
.banner.big .bg2 { background: url(../img/banners/2-big.png); }
.banner.big .bg3 { background: url(../img/banners/3-big.png); }
.banner.big .bg4 { background: url(../img/banners/4-big.png); }
.banner.big .bg5 { background: url(../img/banners/5-big.png); }
.banner.big .bg6 { background: url(../img/banners/6-big.png); }


.clearfix { clear: both; }
.countdown {
	text-align: right;	
	font-family: 'Calligraffitti', cursive;
	font-size: 25px;
	position:absolute;
	bottom: 10px;
	right: 20px;
	z-index:100;
	color: white;

} 

.logo h1 {
	display: none;
}

.logo {
	background: url(../img/logo-header.png) no-repeat;
	width: 279px;
	height: 127px;
	display: block; 
	margin-top: 5px;
}

.header {
	height: 127px;
}

.shortcuts {
	margin-top: 40px;
}
.shortcuts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.shortcuts ul li {
	display: inline-block;
	margin-left: 10px;
}

.shortcuts ul li a {
	display: block;
	width: 62px;
	height: 61px;
	background: url(../img/ico-shortcuts.png) no-repeat;
}

.shortcuts ul li a.love {
	background-position: 0 0;
}
.shortcuts ul li a.love:hover {
	background-position: 0 -61px;
}
.shortcuts ul li a.guestbook {
	background-position: -62px 0;
}
.shortcuts ul li a.guestbook:hover {
	background-position: -62px -61px;
}
.shortcuts ul li a.rsvp {
	background-position: -124px 0;
}
.shortcuts ul li a.rsvp:hover {
	background-position: -124px -61px;
}
.menu {
	margin-top: 10px;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
	margin-left: 20px;
}
.menu a { 
 	font-size: 16px;
 	display: block;
 	color: #1DA1A6;
 	text-decoration: none;
}
.menu a:hover {
 	color: #17C0BD;
}
.menu a.active {
	border-bottom: 2px solid #1DA1A6;
}

.banner {
	display:block;
	width: 100%;
	/*height: 400px;*/
	background: none;
	margin-top: 10px;
	position:relative;
	overflow: visible !important;
}

.banner.big {
	/*height: 400px;*/
}
.banner.small {
	/*height: 200px;*/
}

.banner.bg1 {
	color: white;
}
.carousel {
	z-index: 1;
}
.sticker {
	display: block;
	height: 177px;
	width: 177px;
	background: url(../img/logo-sticker.png) no-repeat;
	position:absolute;
	bottom:-87px;
	left: 70px;
	z-index: 2;
}

.carousel.fade
{
    opacity: 1;
}

.carousel.fade .item
{     
    -moz-transition: opacity ease-in-out 1.9s;
    -o-transition: opacity ease-in-out 1.9s;
    -webkit-transition: opacity ease-in-out 1.9s;
    transition: opacity ease-in-out 1.9s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}


.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}

.carousel.fade .item.active
{
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

.carousel-indicators {
	bottom: 0;
} 

.footer {
	position: fixed;
	bottom: 0;
	background: #1ABFBD;
	width: 960px;
	height: 3px;
	margin: 0 auto;
	color: white;
	padding: 3px;
	font-size: 10px;
	z-index:1000;
}

.banner .item { background-repeat: no-repeat !important; }


.story {

}

.story h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	margin: 0;
}

.story .separator {
	background:url(../img/bg-separator.png);
	width: 225px;
	height: 23px;
	display: block;
	margin: 0 auto;
}

.story .text {
	width: 90%; 
	margin: 10px auto;
	text-align: justify; 
	text-justify: newspaper;
}

.contact { 
	padding-top: 20px;
}
.contact .block {
	width: 90%;
	margin: 0 auto;
}
.contact .title {
	/*background: #0B7270;*/
	text-transform: uppercase;
	color: #17BFBD;
	text-align: center;
	padding: 10px;
	font-size: 24px;

	font-family: 'Pompiere', cursive;
}

.contact .text {
	/*background: #D6D4BF;*/
	margin-top: 2px;
	min-height: 80px;
}
.contact .icon {
	display: block;
	margin: 0 auto;
	width: 46px;
	height: 54px;
	background: url(../img/ico-contact-v2.png) no-repeat;
}
.contact .icon.correo {  background-position: 0 0; float: left;}
.contact .icon.mesa { background-position: -46px 0; }
.contact .icon.viaje { background-position: -146px 0; width: 75px;}
.contact .message {
	margin-top: 20px;
}
.contact .message.correo {
	float: left;
	margin-left: 20px;
}
.contact .message.viaje { margin-top: 0; }
.events { padding: 20px; text-align: center;}
.slogan {
	font-size: 40px;
	color: #CBCBCB;
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.ribbon-header, .ribbon-footer{
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}
.ribbon-header {
	margin-bottom: 10px;
	font-size: 18px;
	color: #727377;
}
.ribbon-footer {
	color: #1ABFBD;
	font-size: 23px;
	margin-top: 7px;
}
/* ribbon style */  
.ribbon-front {
	color: white;
	text-transform: uppercase;
	font-size: 70px;
	font-family: 'Pompiere', cursive;
}

.events .time {
	font-family: 'Pompiere',cursive;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 5px;
	color: #ACACAE;
}

.events .time .line {
	display: inline-block;
	background: #1ABFBD;
	margin-top: 15px;
	width: 34px;
	height: 2px;
	position: relative;
	top: -10px;
	margin-left: 10px;
	margin-right: 10px;
}

.events .invite {
	color: #aaa;
	font-family: 'Yellowtail', cursive;
	font-size: 25px;
	margin-top: 10px;
}
/* ribbon style */

.ribbon-container .ribbon.ribbon-wrapper {
	position: relative;
}
.ribbon-container .ribbon .ribbon-front {
	background-color: #80E5E4;	height: 95px;
	width: 364px;
	position: relative;
	left:-32px;
	z-index: 2;
}

.ribbon-container .ribbon .ribbon-front,
.ribbon-container .ribbon .ribbon-back-left,
.ribbon-container .ribbon .ribbon-back-right
{
	/*-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);*/
}

.ribbon-container .ribbon .ribbon-edge-topleft,
.ribbon-container .ribbon .ribbon-edge-topright,
.ribbon-container .ribbon .ribbon-edge-bottomleft,
.ribbon-container .ribbon .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

.ribbon-container .ribbon .ribbon-edge-topleft,
.ribbon-container .ribbon .ribbon-edge-topright {
}

.ribbon-container .ribbon .ribbon-edge-bottomleft,
.ribbon-container .ribbon .ribbon-edge-bottomright {
	top: 95px;
}

.ribbon-container .ribbon .ribbon-edge-topleft,
.ribbon-container .ribbon .ribbon-edge-bottomleft {
	left: -32px;
	border-color: transparent #1ABFBD transparent transparent;
}

.ribbon-container .ribbon .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 32px 0 0;
}
.ribbon-container .ribbon .ribbon-edge-bottomleft {
	border-width: 0 32px 30px 0;
}

.ribbon-container .ribbon .ribbon-edge-topright,
.ribbon-container .ribbon .ribbon-edge-bottomright {
	left: 300px;
	border-color: transparent transparent transparent #1ABFBD;
}

.ribbon-container .ribbon .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 32px;
}
.ribbon-container .ribbon .ribbon-edge-bottomright {
	border-width: 0 0 30px 32px;
}

.ribbon-container .ribbon .ribbon-back-left {
	position: absolute;
	top: 30px;
	left: -85px;
	width: 85px;
	height: 95px;
	background-color: #F8C6BD;	z-index: 0;
}

.ribbon-container .ribbon .ribbon-back-right {
	position: absolute;
	top: 30px;
	right: -85px;
	width: 85px;
	height: 95px;
	background-color: #F8C6BD;	
	z-index: 0;
}
.ribbon-container .ribbon .ribbon-back-right {
	border-style: solid;
	border-color: #9FF1EF transparent;
	border-width: 48px 24px 48px 0;
	background: transparent !important;
}
.ribbon-container .ribbon .ribbon-back-left {
	border-style: solid;
	border-color: #9FF1EF transparent;
	border-width: 48px 0 48px 24px;
	background: transparent !important;
}

.place {
	position: relative;
	margin: 10px auto;
	display: inline-block;
}
.place-contents {
	display: inline-block;
	background: #80E5E4;
	color: white;
	text-transform: uppercase;
	padding: 4px;
	float:left;
}
a.place-contents:hover {
	text-decoration: none;
	color: white;
}
.place-left {
	display: inline-block;
	width: 24px;
	height: 23px;
	border-style: solid;
	border-color: #80E5E4 transparent;
	border-width: 14px 0 14px 10px;
	background: transparent !important;
	float:left;
}
.place-right {
	display: inline-block;
	width: 24px;
	height: 23px;
	border-style: solid;
	border-color: #80E5E4 transparent;
	border-width: 14px 10px 14px 0px;
	background: transparent !important;
	float:left;
} 

.gallery {
	text-align: center;
}

.gallery .event {
	background: url(../img/Graphic2.png) no-repeat;
	display: inline-block; 
	width: 230px;
	height: 135px;
	margin: 10px;
	padding: 20px;
	color: white;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.gallery .event.e1 { background-position: 0 0;}
.gallery .event.e2 { background-position: -237px 0;}
.gallery .event.e3 { background-position: -474px 0; text-transform: uppercase;}
.gallery .event.e4 { background-position: 0 -142px; text-transform: uppercase;}
.gallery .event.e5 { background-position: -237px -142px; text-transform: uppercase;}
.gallery .event.e6 { background-position: -474px -142px; text-transform: uppercase;}
.gallery .event.e7 { background-position: 0 -286px;}
.gallery .event.e8 { background-position: -237px  -286px; font-family: 'Pompiere', cursive; text-transform: lowercase;}
.gallery .event.e9 { background-position: -474px  -286px; font-size: 40px; font-family: 'Pompiere', cursive; text-transform: uppercase;}

.somos {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 75px;
	position: absolute;
	left: 37px;
	top: -4px;
}

.novios {
	font-family: 'Clicker Script', cursive;
	font-size: 40px;
	position: absolute;
	right: 30px;
	bottom: 5px;
}

.estamos {
	font-family: 'Clicker Script', cursive;
	font-size: 44px;
	text-transform: lowercase;
	position: absolute;
	top: 18px;
	left: 62px;
}

.comprometidos {
	font-family: 'Cabin', sans-serif;
	text-transform: uppercase; 
	position: absolute;
	top: 65px;
	left: 34px;
}

.pedida {
	font-family: 'Pompiere', cursive;
	font-size: 30px;
	margin-top: 10px;
	display: block;
}

.presentacion {
	font-family: 'Advent Pro', sans-serif;
	font-size: 24px;
	display: block;
	margin-top: 30px;
}

.civil { 
	font-family: 'Finger Paint', cursive;
	font-size: 45px;
	display: block;
	margin-top: 17px;
}

.hasta {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 30px;
	line-height: 1;
	margin-top: 5px;
}

.tuyyo {
	font-family: 'Give You Glory', cursive;
	font-size: 27px;
	margin-top: 15px;
}

.honeymoon {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 42px;
	font-weight: 300;
	margin-top: 15px;
}
.photos {
	font-family: 'Pompiere', cursive;
	margin-top: 12px;
	font-size: 50px;
}

.gallery a {
	text-decoration: none;
	cursor: pointer;
}

.gallery .disabled {
	opacity: 0.3;
	cursor: default;
}
.thumbs .empty {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}
.image {text-align: center; margin-bottom: 10px; }
.image img {
	max-width: 539px;
}
.thumbs span {
	background: black;
	float: left;
	min-width: 75px;
	min-height: 75px;
	max-width: 76.85px;
	max-height:75px;
	display: block;
	overflow: hidden;
	cursor: pointer;
}
.thumbs img {
	max-width: 100px;
}
.modal-content {
	border-radius: 0;
}

.grand {
	background: url(../img/logo-grand.png);
	width:130px;
	height: 20px;
	margin: 0; auto;
	display:inline-block;
}
.message a { color: black; }