<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dalia y Daniel</title>
    <meta name="description" content="Dalia Magallanes y Daniel Ramirez">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="js/vendor/scroller/jquery.thumbnailScroller.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/components/countdown.css">
    <link rel="stylesheet" href="css/components/save.css">
    <link rel="stylesheet" href="css/pages/contact.css">
    <link rel="stylesheet" href="css/pages/events.css">
    <link rel="stylesheet" href="css/pages/gallery.css">
    <link rel="stylesheet" href="css/pages/guestbook.css">
    <link rel="stylesheet" href="css/pages/story.css">
    <link href='http://fonts.googleapis.com/css?family=Yellowtail|Oxygen:400,300,700|Calligraffitti|Nunito:400,300,700|Varela+Round|Pompiere|Cabin:400,400italic|Waiting+for+the+Sunrise|Clicker+Script|Loved+by+the+King|Squada+One|Shadows+Into+Light+Two|Advent+Pro:400,500|Annie+Use+Your+Telescope|Finger+Paint|The+Girl+Next+Door|Give+You+Glory' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="navbar  navbar-fixed-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">dalia<span>&amp;</span>daniel</a>
    <div class="navbar-text navbar-right pull-right rightext">
        faltan <a href="http://goo.gl/RX5iMH" target="_blank" class="header-days-left days-left"></a> d&iacute;as
    </div>
    </div>
    <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
      <ul class="nav navbar-nav menu-nav">
        <li><a href="/story">Nuestra historia</a></li>
        <li><a href="/events">Eventos</a></li>
        <li><a href="/gallery">Galer&iacute;a</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/guestbook">Libro de visitas</a></li>
      </ul>
    </nav>
  </div>
</header>

    <div class="container main-container">

        <div class="header">
            <div class="logo pull-left">
                <h1>Dalia &amp; Daniel</h1>
            </div>
            <div class="shortcuts pull-right">
                <ul>
                    <li><a href="javascript:;" class="love" title="Save the date!"></a></li>
                    <li><a href="guestbook" class="guestbook" title="Guestbook"></a></li>
                    <!-- <li><a href="#" class="rsvp" title="RSVP"></a></li> -->
                </ul>
            </div>
        </div>
        <div class="banner" data-small="200" data-big="400">
            <div class="countdown pull-right">...Faltan <span class="days-left"></span> d&iacute;as...</div>
            <a class="sticker pull-left" href="http://goo.gl/RX5iMH" title="Agregar a tu Calendario" target="_blank"></a>

            <div id="carousel"  class="carousel fade">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <li data-target="#carousel" data-slide-to="4"></li>
                    <li data-target="#carousel" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active bg1"></div>
                    <div class="item bg2"></div>
                    <div class="item bg3"></div>
                    <div class="item bg4"></div>
                    <div class="item bg5"></div>
                    <div class="item bg6"></div>
                </div>
            </div>
        </div>
        <div class="menu pull-right">
            <ul>
                <li><a href="/home" data-big="true">Inicio</a></li>
                <li><a href="/story">Historia de Amor</a></li>
                <li><a href="/events">Eventos</a></li>
                <li><a href="/gallery">Galer&iacute;a</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="content"><%- body %></div>
        <div class="footer"></div>
    </div>

    <div class="modal fade modal-rsvp">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                &nbsp;
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
            </div>
            <div class="modal-body">
                <div class="row step1">
                    <div class="col-6" align="center">
                        <a href="#si"><img src="img/si.png" data-yesno="si" title="Si Asistire" /></a>
                    </div>
                    <div class="col-6" align="center">
                        <a href="#no"><img src="img/no.png" data-yesno="no" title="No Asistire" /></a>
                    </div>
                </div>

                <div class="row step2 answer-si" style="display:none;">
                    <div class="col-12" align="center">
                        <label class="control-label col-sm-3">Con grata alegr&iacute;a, yo </label>
                        <label class="control-label col-sm-3"><input id="name"  class="form-control input-sm" type="text" /> y </label>
                        <label class="control-label col-sm-3"><input id="amount"  class="form-control input-sm"  type="text" /> </label>
                        <label class="control-label col-sm-3">invitados atenderemos</label>
                    </div>   
                </div>

                <div class="row step2 answer-no" style="display:none;">
                    <div class="col-12" align="center">
                        Con pena, yo <input id="name" type="text" class="form-control input-sm" /> No podr&eacute; asistir a la boda. 
                    </div>   
                </div>

            </div>
        </div>
        </div>
    </div> 

    <div class="modal fade save modal-wide">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        </div>
        <div class="modal-body">
            <div id="savethedate"  class="carousel fade">
                <ol class="carousel-indicators">
                    <li data-target="#savethedate" data-slide-to="0" <%- (stdp == '1' || stdp == '' ) ? 'class="active"':'' %> ></li>
                    <li data-target="#savethedate" data-slide-to="1" <%- stdp == '2' ? 'class="active"':'' %>></li>
                    <li data-target="#savethedate" data-slide-to="2" <%- stdp == '3' ? 'class="active"':'' %>></li>
                    <li data-target="#savethedate" data-slide-to="3" <%- stdp == '4' ? 'class="active"':'' %>></li>
                    <li data-target="#savethedate" data-slide-to="4" <%- stdp == '5' ? 'class="active"':'' %>></li>
                    <li data-target="#savethedate" data-slide-to="5" <%- stdp == '6' ? 'class="active"':'' %>></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item <%- (stdp == '1' || stdp == '') ? 'active':'' %> bg1"><div class="fb-like" data-href="http://www.daliaydaniel.com/savethedate-1" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div></div>
                    <div class="item <%- stdp == '2' ? 'active':'' %> bg2"><div class="fb-like" data-href="http://www.daliaydaniel.com/savethedate-2" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div></div>
                    <div class="item <%- stdp == '3' ? 'active':'' %> bg3"><div class="fb-like" data-href="http://www.daliaydaniel.com/savethedate-3" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div></div>
                    <div class="item <%- stdp == '4' ? 'active':'' %> bg4"><div class="fb-like" data-href="http://www.daliaydaniel.com/savethedate-4" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div></div>
                    <div class="item <%- stdp == '5' ? 'active':'' %> bg5"><div class="fb-like" data-href="http://www.daliaydaniel.com/savethedate-5" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div></div>
                    <div class="item <%- stdp == '6' ? 'active':'' %> bg6"><div class="fb-like" data-href="http://www.daliaydaniel.com/savethedate-6" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43796421-1', 'daliaydaniel.com');
  ga('send', 'pageview');
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=230951067056344";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="js/vendor/jquery-mobile.touch.js"></script>
<script src="js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 

<script src="js/vendor/scroller/jquery.thumbnailScroller.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/jquery.pjax.js"></script> 
<script src="js/vendor/moment.min.js"></script>
<script src="js/vendor/moment-es.js"></script>
<script src="js/vendor/arg.js"></script>
<script src="js/core.js"></script>
<script src="js/guestbook.js"></script>
<script type="text/javascript"><% if(stdp != '') { %> $(function() { $(".love").click(); }); <% } %></script>
<script type="text/javascript"><% if(gallery != '') { %> $(function() { window.pcback = { "<%-gallery%>": function() { $(".gallery a[href*=gallery-<%-gallery%>]").click(); }}  }); <% } %></script>
</body>
</html>
