<h2 class="title">Iniciar sesi&oacute;n</h2>

<form method="post" class="form-inline" name="auth" action="/login" style="margin-top: 30px;">
	<div style="margin: 0 auto;max-width:300px" class="row">
		<div class="alert alert-danger" <%if (error == "") { %>style="display:none;"<% } %>><%- error %></div>
		<div class="form-group">
			<input type="password"  name="pwd" class="passwd form-control input-md" placeholder="Contrase&ntilde;a..." /> 
		</div> 
			<input type="submit" value="Entrar" class="btn btn-primary" /> 
		<input type="hidden" name="returnTo" value="<%- callback %>" />
	</div>
</form>