.gallery{text-align:center}.gallery .event{background:url(../../img/Graphic2.png) no-repeat;display:inline-block;width:230px;height:135px;margin:10px;padding:20px;color:#fff;font-size:20px;vertical-align:middle;text-align:center;position:relative}.gallery .event.e1{background-position:0 0}
.gallery .event.e2{background-position:-237px 0}
.gallery .event.e3{background-position:-474px 0;text-transform:uppercase}
.gallery .event.e4{background-position:0 -142px;text-transform:uppercase}
.gallery .event.e5{background-position:-237px -142px;text-transform:uppercase}
.gallery .event.e6{background-position:-474px -142px;text-transform:uppercase}
.gallery .event.e7{background-position:0 -286px}
.gallery .event.e8{background-position:-237px -286px;font-family:'Pompiere',cursive;text-transform:lowercase}
.gallery .event.e9{background-position:-474px -286px;font-size:40px;font-family:'Pompiere',cursive;text-transform:uppercase}
.gallery .somos{font-family:'Waiting for the Sunrise',cursive;font-size:75px;position:absolute;left:37px;top:-4px}
.gallery .novios{font-family:'Clicker Script',cursive;font-size:40px;position:absolute;right:30px;bottom:5px}
.gallery .estamos{font-family:'Clicker Script',cursive;font-size:44px;text-transform:lowercase;position:absolute;top:18px;left:62px}
.gallery .comprometidos{font-family:'Cabin',sans-serif;text-transform:uppercase;position:absolute;top:65px;left:34px}
.gallery .pedida{font-family:'Pompiere',cursive;font-size:30px;margin-top:10px;display:block}
.gallery .presentacion{font-family:'Advent Pro',sans-serif;font-size:24px;display:block;margin-top:30px}
.gallery .civil{font-family:'Finger Paint',cursive;font-size:45px;display:block;margin-top:17px}
.gallery .hasta{font-family:'Waiting for the Sunrise',cursive;font-size:30px;line-height:1;margin-top:5px}
.gallery .tuyyo{font-family:'Give You Glory',cursive;font-size:27px;margin-top:15px}
.gallery .honeymoon{font-family:'Shadows Into Light Two',cursive;font-size:42px;font-weight:300;margin-top:15px}
.gallery .photos{font-family:'Pompiere',cursive;margin-top:12px;font-size:29px}
.gallery a{text-decoration:none;cursor:pointer}
.gallery .disabled{opacity:.3;cursor:default}
.thumbs{width:100%;height:103px;overflow:hidden}.thumbs li{float:left}
.thumbs ul{list-style:none;margin:0;padding:0;left:0;width:1024px}
.thumbs .empty{text-align:center;font-size:20px;font-weight:300}
.thumbs span{background:#000;float:left;min-width:75px;min-height:75px;max-width:76.85px;max-height:75px;display:block;overflow:hidden;cursor:pointer}
.thumbs img{max-height:90px}
.gallery-modal .modal-body{padding:0}
.gallery-modal .modal-dialog{max-width:700px;padding-top:45px}
.gallery-modal .modal-footer{margin-top:0;padding:0;margin:0}
.gallery-modal .modal-header{background:transparent;position:absolute;z-index:9999;width:300px;top:-56px;color:#fff;border-bottom:0}.gallery-modal .modal-header button{display:none}
.gallery-modal .modal-title{font-family:'Waiting for the Sunrise',cursive;font-size:30px;font-weight:bold}
@media all and (min-width:575px){.gallery-modal .modal-dialog{width:inherit}}@media all and (max-width:575px){.gallery-modal .modal-dialog{width:auto !important}}.gallery-modal .image{text-align:center}.gallery-modal .image img{max-width:100%}
.gallery-modal .jThumbnailScroller .jTscroller a{border:0;margin-right:0}
.gallery-modal .jThumbnailScroller{border:0;background:transparent;width:100%}
.gallery-modal .jThumbnailScroller#tS2{margin-top:0;margin-left:0;margin-right:0}
