.story h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  margin: 0;
}
.story .separator {
  background: url(../../img/bg-separator.png);
  width: 225px;
  height: 23px;
  display: block;
  margin: 0 auto;
}
.story .text {
  width: 90%;
  margin: 10px auto;
  text-align: justify;
  text-justify: newspaper;
}
